#set(commentPage = comments())
<div id="comments" class="comment-box percent-p-x util--m-y-4">
    <div id="respond" class="comment-respond util--p-a-2 util--m-t-4">
        <div class="comment-form-box">
            <div>
                <div id="commentCancelBtn" type="button" class="comment-cancel-btn" style="display: none;" onclick="cancelReply();">
                    <img src="${themeUrl()+'/img/icon/close.svg'}">
                </div>
            </div>
            <!--<input type="hidden" name="csrf_token" value="${csrf_token}">-->
            <input type="hidden" id="aid" name="aid" value="${article.aid}">
            <input type="hidden" id="parent" name="parent" value="0">
            <div class="comment-input-box">
                <input id="author" name="author" class="form-input" type="text" placeholder="昵称/QQ(必填)" required="">
                <input id="mail" name="mail" class="form-input" type="text" placeholder="邮箱(必填)" required="">
                <input id="url" name="url" class="form-input" type="text" placeholder="网址" required="">
            </div>
            <textarea id="content" name="content" class="form-textarea" rows="5" cols="10" maxlength="500" placeholder="除特别声明外，本站采用 CC BY-NC-SA 协议进行授权，转载请注明出处！" required=""></textarea>
            <div class="comment-submit-box">
                <button type="button" id="submit" class="comment-btn" onclick="subComment();">提交评论</button>
            </div>
        </div>
    </div>

    #if(commentCount == 0)
    <div class="comment-summary">暂无评论</div>
    #else
    <div class="comment-summary">*** 评论</div>
    <ol class="util--p-y-2 util--p-x-4">
        #for(comment: commentPage.list)
        <li class="comment-item util--p-y-1" id="commentId${comment.cid}">
            <img class="comment-avatar util--m-r-2" src="${themeUrl()+'/img/head.png'}" alt="${comment.author}">
            <div class="comment-content">
                <div>
                    <span class="comment-author">${comment.author}</span>
                    <span class="comment-browser">Chrome 84.0.4147.89</span>
                    <span class="comment-system">Windows 10</span>
                </div>
                <div>
                    <span class="comment-time">${comment.createTime}</span>
                    <span class="comment-reply" cid="${comment.cid}" respond_container_id="commentReplyBtn${comment.cid}">回复</span>
                </div>
                <div class="comment-text">${comment.content}</div>
                <div id="commentReplyBtn${comment.cid}"></div>
                #if(comment.list)
                #call comment_children(comment)
                #end
            </div>
        </li>
        #end
    </ol>
    #end
</div>

#macro comment_children(children)
#set(cList = children.list)
<ol>
    #for(child: cList)
    <li class="comment-item util--p-y-1">
        <img class="comment-avatar comment-child-avatar util--m-r-2" src="${themeUrl()+'/img/head.png'}" alt="${child.author}">
        <div class="comment-content">
            <div>
                <span class="comment-author">${child.author}</span>
                <span class="comment-browser">Chrome 84.0.4147.89</span>
                <span class="comment-system">Windows 10</span>
            </div>
            <div>
                <span class="comment-time">${child.createTime}</span>
                <span class="comment-reply" cid="${child.cid}" respond_container_id="commentReplyBtn${child.cid}">回复</span>
            </div>
            <div class="comment-text"><a href="#commentId${comment.cid}" style="font-weight: 600;">@${children.author}, </a>
                ${child.content}
            </div>
            <div id="commentReplyBtn${child.cid}"></div>
            #if(comment.list)
            #call comment_children(child)
            #end
        </div>
    </li>
    #end
</ol>
#end