<!--分类-->
<div>
    <h6>Meta管理</h6>
    <div class="f f-r p-y-1">
        <input v-model="pageParam.title" class="b-a p-x-1 m-x-1" type="text" placeholder="请输入名称">
        <select v-model="pageParam.type" class="b-a p-x-1 m-x-1" style="width: 110px;" @change="getData">
            <option value="">选择类型</option>
            <option value="tag">标签</option>
            <option value="category">分类</option>
        </select>
        <button class="b-a p-x-1 m-x-1" type="button" @click="getData">搜索</button>
        <button class="b-a p-x-1 m-x-1" type="button" @click="editDialog = !editDialog">添加</button>
    </div>
</div>
<!--数据-->
<table>
    <thead>
    <tr class="b-t b-b">
        <th>序号</th>
        <th>标识</th>
        <th>名称</th>
        <th>类型</th>
        <th>描述</th>
        <th>统计</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <template v-for="(item, index) in pageInfo.list ">
        <tr :key="item.mid">
            <td class="b-a t-a-c" v-text="index + 1"></td>
            <td class="b-a" v-text="item.flag"></td>
            <td class="b-a" v-text="item.title"></td>
            <td class="b-a" v-text="item.type"></td>
            <td class="b-a" v-text="item.description"></td>
            <td class="b-a" v-text="item.count"></td>
            <td class="b-a t-a-c">
                <button class="b-a p-x-1" type="button" @click="editHandle(item.mid)">修改</button>
                <button class="b-a p-x-1" type="button" @click="deleteHandle(item.mid)">删除</button>
            </td>
        </tr>
    </template>
    </tbody>
</table>

<!--编辑-->
<div v-show="edit" class="z-dialog">
    <div class="z-dialog-wrap p-a-3" style="width: 500px;">
        <div class="z-dialog-header f f-jc-sb f-ai-c p-x-2">
            <span>编辑</span>
            <img @click="edit = false" class="z-dialog-close" src="/admin/static/img/icon-close.svg">
        </div>
        <div class="f f-c f-jc-sb p-x-3 p-y-2">
            <div class="form-box p-a-1">
                <span class="form-label">名称</span>
                <input v-model="formData.title" class="form-input b-a" type="text" placeholder="请输入名称">
            </div>
            <div class="form-box p-a-1">
                <span class="form-label">标识</span>
                <input v-model="formData.flag" class="form-input b-a" type="text" placeholder="请输入名称">
            </div>
            <div class="form-box p-a-1">
                <span class="form-label">类型</span>
                <select v-model="formData.type" class="form-input b-a">
                    <option value="">选择类型</option>
                    <option value="tag">标签</option>
                    <option value="category">分类</option>
                </select>
            </div>
            <div class="form-box f-ai-fs p-a-1">
                <span class="form-label">描述描述</span>
                <textarea v-model="formData.description" class="form-input b-a" style="resize: none;" rows="3"></textarea>
            </div>
        </div>
        <div class="z-dialog-action">
            <button @click="submitHandle" type="button" class="b-a p-x-1">确认</button>
            <button @click="edit = !edit" type="button" class="b-a p-x-1">取消</button>
        </div>
    </div>
</div>
<!--删除弹框-->
<div v-show="edit" class="z-dialog">
    <div class="z-dialog-wrap p-a-2" style="width: 300px;">
        <div class="z-dialog-header f f-jc-sb f-ai-c p-x-2">
            <span>提示</span>
            <img @click="edit = false" class="z-dialog-close" src="/admin/static/img/icon-close.svg">
        </div>
        <div class="p-x-3 p-y-2">确认进行当前操作吗?</div>
        <div class="z-dialog-action">
            <button @click="submitHandle" type="button" class="b-a p-x-1">确认</button>
            <button @click="edit = !edit" type="button" class="b-a p-x-1">取消</button>
        </div>
    </div>
</div>