<el-row>
    <el-col :span="24">

        <el-card style="margin-bottom: 1rem;">
            <el-form :inline="true" :model="pageParam">
                <el-form-item label="名称" style="margin: 0.5rem;">
                    <el-input v-model="pageParam.name" placeholder="输入名称"></el-input>
                </el-form-item>
                <el-form-item label="分类" style="margin: 0.5rem;">
                    <el-select v-model="pageParam.type" clearable placeholder="选择文章分类">
                        <el-option label="分类" value="category"></el-option>
                        <el-option label="标签" value="tag"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item style="margin: 0.5rem;">
                    <el-button type="primary" size="medium" icon="el-icon-search" @click="load(1)">搜索</el-button>
                    <el-button type="primary" size="medium" icon="el-icon-search" @click="load(1)">搜索</el-button>
                </el-form-item>
            </el-form>
        </el-card>

        <el-card style="margin-bottom: 1rem;">
            <el-table :data="pageInfo.list" style="width: 100%;">
                <el-table-column prop="name" label="名称"></el-table-column>
                <el-table-column prop="description" label="描述" align="center"></el-table-column>
                <el-table-column prop="type" label="类型" align="center" width="120">
                    <template slot-scope="scope">
                        <el-tag size="medium" type="primary" v-if="scope.row.type === 'category'">分类</el-tag>
                        <el-tag size="medium" type="success" v-if="scope.row.type === 'tag'">标签</el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="操作" align="center" width="140">
                    <template slot-scope="scope">
                        <el-button size="mini" type="primary" icon="el-icon-edit" circle @click="edit(scope.row.mid)"></el-button>
                        <el-button size="mini" type="danger" icon="el-icon-delete" circle @click="del(scope.row.mid)"></el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>
        #include('./partial/pageNav.html')
    </el-col>
</el-row>

<el-dialog title="编辑" :visible="dialogEditVisible">
    <el-form ref="metaForm" :model="metaForm" label-width="80px">
        <el-form-item label="名称">
            <el-input v-model="metaForm.name" placeholder="名称"></el-input>
        </el-form-item>
        <el-form-item label="类型">
            <el-select v-model="metaForm.type" placeholder="请选择类型">
                <el-option label="分类" value="category"></el-option>
                <el-option label="标签" value="tag"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="描述">
            <el-input type="textarea" v-model="metaForm.description" rows="3"></el-input>
        </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
        <el-button>取 消</el-button>
        <el-button type="primary">确 定</el-button>
    </span>
</el-dialog>

<script>
    let main = {
        data() {
            return {
                dialogEditVisible: false,
                pageInfo: {},
                pageParam: {page: 1, name: null, type: null},
                metaForm: {mid: null, name: null, type: null, description: null}
            };
        },
        mounted: function () {
            this.loadOnce();
            this.load();
        },
        methods: {
            filterPageParam: function () {
                let $vm = this;
                let param = $vm.pageParam;
                for (let i in param) {
                    if (param[i] === '') {
                        $vm.pageParam[i] = null;
                    }
                }
            },
            loadOnce: function () {
                let $vm = this;
            },
            load: function (pageNum = 1) {
                let $vm = this;
                $vm.pageParam.page = pageNum;
                $vm.filterPageParam();
                tale.get({
                    url: '/a/i/meta',
                    data: $vm.pageParam,
                    success: (data) => {
                        console.log(data);
                        $vm.pageInfo = data.payload;
                    },
                    error: (error) => {
                        console.log(error);
                    }
                });
            },
            edit: function (id) {
                let $vm = this;
                tale.get({
                    url: '/a/i/meta/' + id,
                    success: (data) => {
                        console.log(data);
                        $vm.metaForm = data.payload;
                        $vm.dialogEditVisible = true;
                    },
                    error: (error) => {
                        console.log(error);
                    }
                });
            },
            del: function (cid) {
                console.log(cid);
                let $vm = this;
                this.$confirm('此操作将永久删除该项, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    tale.delete({
                        url: '/a/i/meta/' + cid,
                        success: (data) => {
                            $vm.load(1);
                            this.$notify({type: 'success', title: '提示', message: '删除成功', duration: 2500});
                        },
                        error: (error) => {
                            console.log(error);
                        }
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            }
        }
    };
</script>