<!doctype html>
<html lang="zh">
<head>
    #include('./partial/head.html')
</head>
<body>
<main class="main-container">
    #include('./partial/header.html')
    <div class="content-box util--m-a-4">
        <div class="archive-box percent-p-x">
            <header class="archive-header util--p-y-4">
                <h3>归档</h3>
                <p class="util--p-y-1">目前共计 ${statistic().post} 篇文章</p>
            </header>
            #set(pageInfo = archive())
            #set(list = pageInfo.list)
            <ul class="util--p-y-4">
                #for(item: list)
                #-- 处理归档日期开始 --#
                #set(currentArchiveDate = fmtDate(item.createTime, 'yyyy-MM'))
                #if(for.index == 1)
                <li class="util--p-y-1">
                    <h2>${currentArchiveDate}</h2>
                </li>
                #else
                #set(previousArchiveDate = fmtDate(list[for.index-2].createTime, 'yyyy-MM'))
                #if(previousArchiveDate != currentArchiveDate)
                <li class="util--p-y-1">
                    <h2>${currentArchiveDate}</h2>
                </li>
                #end
                #end
                #-- 处理归档日期结束 --#
                <li>
                    <a style="display: inline-block;width: 100%;" href="/article/${item.aid}">
                        <div class="archive-item util--p-a-1">
                            <span class="archive-title">${item.title}</span>
                            <div class="archive-date">
                                <img class="util--m-r-1" src="${themeUrl()+'/img/icon/date.svg'}" alt="">
                                <span>${fmtDate(item.createTime, 'YYYY-MM-dd')}</span>
                            </div>
                        </div>
                    </a>
                </li>
                #end
            </ul>
        </div>
        #include('./partial/pagination.html', {pageInfo: pageInfo, url: url})
        #include('./partial/footer.html')
    </div>
</main>
</body>
</html>