<!DOCTYPE html>
#set(comments = commentCount(article))
#set(tags = tags(article))
<html lang="zh-CN">
<head>
    #include('./partial/head.html')
</head>
<body>
<div class="main-container">
    #include('./partial/header.html')
    <main class="content-wrap util--m-a-4">
        <div class="article-list">
            <article class="article-item">
                <header class="article-header percent-m-x util--p-t-4 util--p-b-2">
                    <a class="article-title" href="${articleLink}">${article.title}</a>
                    <div class="article-meta">
                        <img class="util--m-r-1" src="${themeUrl('/img/icon/category.svg')}" alt="分类">
                        <span class="util--m-r-1">[<a href="">${article.category}</a>]</span>
                        <img class="util--m-r-1" src="${themeUrl('/img/icon/date.svg')}" alt="发布日期">
                        <span>${fmtDate(article.created, 'yyyy-MM-dd')}</span>
                    </div>
                </header>
                <!-- 文章内容 -->
                <div class="article-content percent-p-x util--p-b-2">
                    ${content(article.content, article.fmtType)}
                </div>
                <div class="article-foot percent-m-x util--p-y-3">
                    <div class="notebook">
                        <img class="util--m-r-1" src="${themeUrl('/img/icon/time.svg')}" alt="">
                        <span>最后修改：${fmtDate(article.modified, 'yyyy-MM-dd HH:mm')}</span>
                    </div>
                    <div class="copyright">
                        <img class="util--m-r-1" src="${themeUrl('/img/icon/copyright.svg')}" alt="">
                        <span>著作权归作者所有</span>
                    </div>
                </div>
                <div class="support-author util--m-y-4">
                    <button id="donate" class="btn-donate util--m-y-1"><img src="${themeUrl('/img/icon/donate.svg')}" alt="">赞赏</button>
                    <span>如果觉得我的文章对你有用，请随意赞赏</span>
                    <div id="QR" class="QR-container util--m-y-2">
                        <div class="QR-code">
                            <img src="${themeUrl('/img/RQ_WXPAY.png')}" alt="">
                            <span>微信</span>
                        </div>
                        <div class="QR-code">
                            <img src="${themeUrl('/img/RQ_ALIPAY.png')}" alt="">
                            <span>支付宝</span>
                        </div>
                    </div>
                </div>
                <div class="article-nav percent-m-x util--m-y-2 util--p-y-2">
                    <div class="nav-action">
                        #set(prevArticle = prev(article))
                        #if(prevArticle)
                        <a class="prev" href="/article/${prevArticle.aid}" target="_self" title="上一篇"><img src="${themeUrl('/img/icon/prev.svg')}" alt="上一篇">${prevArticle.title}</a>
                        #end
                    </div>
                    <div class="nav-action">
                        #set(nextArticle = next(article))
                        #if (nextArticle)
                        <a class="next" href="/article/${nextArticle.aid}" target="_self" title="下一篇">${nextArticle.title}<img src="${themeUrl('/img/icon/next.svg')}" alt="下一篇"></a>
                        #end
                    </div>
                </div>
                <footer class="article-footer percent-m-x">
                    <div class="article-action util--m-y-2">
                        <div class="article-views util--valign" title="阅读次数：${article.hits}">
                            <img class="util--m-r-1" src="${themeUrl('/img/icon/view.svg')}">
                            <span>阅读次数：${article.hits}</span>
                        </div>
                        <div class="article-share util--valign">
                            <img data-type="QQ" src="${themeUrl('/img/icon/qq.svg')}">
                            <img data-type="WX" src="${themeUrl('/img/icon/wx.svg')}">
                        </div>
                    </div>
                    <div class="article-random">
                        <h5 class="article-random-title">最新文章：</h5>
                        <ul class="article-random-list util--p-t-2 util--p-b-4 util--m-l-4">
                            #--
                            #for(item : articles().list)
                            <li><a href="/article/${item.aid}">${item.title}</a></li>
                            #end
                            --#
                        </ul>
                    </div>
                </footer>
            </article>
        </div>
        #if(article.allowComment)
        #include('./partial/comment.html', {article: article, limit: 100, commentCount: comments})
        #else
        <div class="comment-summary">评论已关闭</div>
        #end
        #include('./partial/footer.html')
    </main>
</div>
</body>
</html>