<!DOCTYPE html>
<html lang="zh-CN">
<head>
    #include('./partial/head.html')
</head>
<body>
<div class="main-container">
    #set(pageInfo = articles())
    #include('./partial/header.html')
    <main class="content-wrap util--m-a-4">
        <div class="article-list">
            #for(item: pageInfo.list)
            #set(articleLink = permalink(item))
            <article class="article-item util--m-b-4">
                <header class="article-header percent-m-x util--p-t-4 util--p-b-2">
                    <a class="article-title" href="${articleLink}">${item.title}</a>
                    <div class="article-meta">
                        <img class="util--m-r-1" src="${themeUrl('/img/icon/category.svg')}" alt="分类">
                        <span class="util--m-r-1">[<a href="">${item.category}</a>]</span>
                        <img class="util--m-r-1" src="${themeUrl('/img/icon/date.svg')}" alt="发布日期">
                        <span>${fmtDate(item.created, 'yyyy-MM-dd')}</span>
                    </div>
                </header>
                <div class="article-content percent-m-x">
                    ${excerpt(item.content, item.fmtType)}
                </div>
                <div class="article-info percent-m-x util--p-y-3 util--m-t-2">
                    <div class="article-tag">
                        #set(tags = tags(item))
                        #if(tags)
                        <img class="article-tag-icon util--m-r-1" src="${themeUrl('/img/icon/tag.svg')}" alt="">
                        #for(tag: tags)<a href="${prefix}/${tag}" class="util--m-x-1">${tag}</a>#end
                        #end
                    </div>
                    <a href="${articleLink}" title="${item.title}" target="_self">- 阅读更多 -</a>
                </div>
            </article>
            #end
        </div>
        #include('./partial/pageNav.html', {pageInfo: pageInfo, prefix: urlPrefix})
        #include('./partial/footer.html')
    </main>
</div>
</body>
</html>