<!DOCTYPE html>
<html lang="zh-CN">
<head>
    #include('./partial/head.html')
</head>
<body>
<div class="main-container">
    #include('./partial/header.html')
    <main class="content-wrap util--m-a-4">
        #if(urlPrefix)
        <div class="tag-box percent-p-x util--p-y-4">
            <header class="tag-header util--p-y-4">
                <h4>标签: ${tag.name}</h4>
                <p class="util--p-t-1">共计 ${tag.count} 篇文章</p>
            </header>
            <div class="tag-list util--p-y-4">
                #for(item: pageInfo.list)
                <article class="tag-item util--p-x-4 util--p-b-2 util--p-b-1 util--p-t-3">
                    <a class="tag-title" href="/article/${item.aid}">${item.title}</a>
                    <div class="tag-date">
                        <img class="util--m-r-1" src="${themeUrl('/img/icon/date.svg')}" alt="">
                        <span>${fmtDate(item.created, 'YYYY-MM-dd')}</span>
                    </div>
                </article>
                #end
            </div>
        </div>
        #include('./partial/pageNav.html', {pageInfo: pageInfo, prefix: urlPrefix})
        #else
        <div class="tag-box percent-p-x util--p-y-4">
            <header class="tag-header util--p-y-4">
                <h4>标签</h4>
                <p class="util--p-t-1">目前共计 ${statistic().tag} 个标签</p>
            </header>
            <div class="tag-list util--p-b-4">
                #for (item : tags)
                #--
                #set(color_random = random(1, 3))
                --#
                <a class="tag-a util--p-b-1" href="/tag/${item.mid}">
                    <span class="tag-front tag-front-${color_random}"></span>
                    <span class="tag-body tag-body-${color_random} util--p-l-2">${item.name}（${item.count}）</span>
                </a>
                #end
            </div>
        </div>
        #end
        #include('./partial/footer.html')
    </main>
</div>
</body>
</html>