@charset "UTF-8";
.main-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.content-box {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    left: 18.75rem;

    animation: 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0s 1 normal both running fade-in-top;
}

/** 左边开始 */
.side-wrap {
    position: fixed;
    width: 18.75rem;
    height: 100%;
    max-height: 100%;
    z-index: 9;
    left: 0;
    top: 0;
    overflow: hidden;
    text-align: center;
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
}

.side-fill {
    width: 100%;
    height: 11.25rem;
    background: #4d4d4d;
}

.side-nav {
    width: 100%;
    position: absolute;
    top: 7rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.side-nav--head {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
}

.side-nav--title {
    font-size: 1.875rem;
    font-weight: 500;
    color: #696969;
}

.side-nav--subtitle {
    color: #999;
    font-size: 1rem;
}

.side-nav--menu {
    margin: 1.25rem 0;
    width: 100%;
    line-height: 2.75rem;
    min-height: 7rem;
}

.side-nav--menu a {
    color: #696969;
    font-weight: 600;
}

.side-nav--menu a:hover {
    border-bottom: 2px #696969 solid;
}

.side-nav--social {
    width: 80%;
    font-size: 0;
}

.side-nav--social a {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    margin: 0.5rem;
}

.side-nav--social img {
    width: 100%;
    height: 100%;
}

/** 左侧结束 */

/** 右边开始 */

.article-item {
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

.article-header {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: normal !important;
    border-left: 5px solid #4d4d4d;
}

.article-title {
    font-size: 1.5rem;
}

.article-meta {
    font-size: 0.875rem;
    color: #696969;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.article-meta img {
    width: 1rem;
    height: 1rem;
}

.article-meta a {
    display: inline-block;
}

.article-meta a:hover {
    font-weight: 600;
}

.article-content > h1,
.article-content > h2,
.article-content > h3,
.article-content > h4,
.article-content > h5,
.article-content > h6 {
    font-weight: 600;
    margin: 0.5rem 0;
    font-size: 1.25rem;
    line-height: normal;
}

.article-content > h1:before {
    content: '#';
    color: #E5246B;
    margin-right: 0.5rem;
}

.article-content > h2:before {
    content: '##';
    color: #E5246B;
    margin-right: 0.5rem;
}

.article-content > h3:before {
    content: '###';
    color: #E5246B;
    margin-right: 0.5rem;
}

.article-content > h4:before {
    content: '####';
    color: #E5246B;
    margin-right: 0.5rem;
}

.article-content > h5:before {
    content: '#####';
    color: #E5246B;
    margin-right: 0.5rem;
}

.article-content > h6:before {
    content: '######';
    color: #E5246B;
    margin-right: 0.5rem;
}

.article-content img {
    max-width: 100%;
    height: auto;
}

.article-content p {
    line-height: 2rem;
}

.article-content p > code {
    background-color: rgba(27, 31, 35, 0.18);
    /*background-color: #f9f2f4;*/
    font-weight: 600;
    color: #696969;
}

.article-content table {
    width: 100%;
    border-collapse: collapse;
}

.article-content table td,
.article-content table th {
    border: 1px solid #ddd;
    padding: 0.5rem;
    line-height: 1.25rem !important;
    text-align: left;
    vertical-align: top;
}

.article-content table tr:nth-child(even) {
    background: #fff;
}

.article-content table tr:nth-child(odd) {
    background: #f1f3f1;
}

.article-content table tr th {
    background: #fff;
}

.article-content table [align=center] {
    text-align: center !important;
}

.article-content table [align=right] {
    text-align: right !important;
}

.article-content table [align=left] {
    text-align: left !important;
}

/*
.article-content > pre {
    margin: 0.5rem 0;
    counter-reset: section;
}
.article-content pre > code {
}
.article-content pre > code:before {
    counter-increment: section;
    content: counter(section);
}
*/
.article-content blockquote {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0;
    background-color: #eaf7ff;
    border-left: 4px solid #3f87a6;
    color: #626262;
}

.article-content ul {
    list-style: circle;
    margin-left: 1.5rem;
    display: block;
    line-height: 1.5rem;
}

.article-content ol {
    list-style: circle;
    margin-left: 1.5rem;
    display: block;
    line-height: 1.5rem;
}

.article-content li {
    display: list-item;
}

.article-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
}

.article-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.article-tag-icon {
    width: 1rem;
    height: 1rem;
}

.article-tag > a {
    font-size: 0.875rem;
    font-weight: bold;
    height: 1.25rem;
    line-height: 1.25rem;
    /*color: #fff;
    font-size: 0.85rem;
    height: 1.25rem;
    line-height: 1.25rem;
    display: inline-block;
    padding: 0 0.5rem;
    position: relative;
    border-radius: 0 0.25rem 0.25rem 0;
    background-color: #bbb;*/
}

.article-tag > a:before {
    content: '# ';
}

.article-tag > a:hover {
    border-bottom: 2px solid;
}

.article-foot {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #b7b7b7;
}

.article-foot img {
    width: 1rem;
    height: 1rem;
}

.notebook,
.copyright {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    color: #9b9b9b;
    line-height: 1rem;
    height: 1rem;
}

/** 支持作者开始 */
.support-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: Center;
    align-content: space-between;
    color: #999;
}

.donate-author {
    cursor: pointer;
    border-radius: 3.5rem;
    color: #fff !important;
    background-color: #f05050;
    border-color: #f05050;
    height: 2.375rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: Center;
    outline: none;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
}

.donate-author img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
}

.qr-code-box {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.qr-code {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.qr-code img {
    width: 11rem;
    height: 11rem;
}

/**文章内容页导航开始*/
.article-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.article-nav img {
    width: 1rem;
    height: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.article-nav-action {
    display: flex;
    align-items: center;
    justify-content: center;
}

/**文章内容页导航结束*/

/**--------------------------------------------------------------------------------------*/

/**翻页相关开始*/
.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    line-height: normal !important;
    text-align: center;
}

.pagination img {
    width: 1.5rem;
    height: 1.5rem;
}

.page-item {
    width: 1.5rem;
    height: 1.5rem;
    background: #4d4d4d;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    line-height: 1.5rem;
    font-size: 0.75rem;
    margin: 0.25rem;
}

.page-current {
    cursor: default;
    background-color: #88acdb;
}

.pagination .next,
.pagination .prev {
    width: 1.5rem;
    line-height: 1.5rem;
    height: 1.5rem;
    margin: 0.25rem;
}

/**翻页相关结束*/
/** 评论开始 */
/** ================================================================== */
.comment-box {
    color: #333;
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
}

/** ------------------------- */

.comment-respond {
    border-radius: 2px;
    background-color: #fff;
    border: 0;
    /*box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);*/
}

.comment-form-box {
    border: 1px solid #f0f0f0;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
}

.comment-cancel-btn {
    float: right;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: #FF545A;
}

.comment-cancel-btn > img {
    margin: 0.5rem;
    width: 1rem;
    height: 1rem;
}

.comment-input-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/** ------------------------- */

.comment-summary {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.315rem;
}

.comment-item {
    display: flex;
    align-items: flex-start;
}

.comment-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.comment-child-avatar {
    width: 2rem;
    height: 2rem;
}

.comment-content {
    flex: 1;
}

.comment-author, .comment-browser, .comment-system, .comment-time, .comment-reply {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 500;
    margin-right: 0.875rem;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.5;
}

.comment-browser, .comment-system, .comment-time {
    color: #b3b3b3;
    line-height: 1.5;
}

.comment-reply {
    color: #ef2f11;
    float: right;
}

.comment-text {
    margin: 1rem 0;
    font-size: 0.875rem;
}

.form-input {
    border-bottom: 1px dashed #dedede;
    width: 33.33%;
    padding: 0.5rem;
}

.form-input:focus {
    border-bottom: 1px dashed #eb5055;
}

.form-textarea {
    padding: 0.5rem;
    width: 100%;
    max-width: 100%;
    line-height: 2rem;
    resize: none;
}

.comment-btn {
    float: right;
    transition-duration: .4s;
    text-align: center;
    color: #313131;
    border: 1px solid #ededed;
    border-radius: .3em;
    display: inline-block;
    background: #ededed;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 0.5rem 1.25rem;
    font-size: 0.875rem;
    line-height: 1.42857143;
    outline: none;
}

/** 评论结束 */

/**分类相关开始*/
.meta-box {
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
}

.meta-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    line-height: normal;
}

.meta-a {
    display: inline-block;
    color: #555;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #999;
    word-wrap: break-word;
    font-weight: 600;
}

.meta-a:hover {
    color: #40a977;
}

.meta-item {
    color: #555;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.meta-item:hover {
    background: #f3f3f3;
}

.meta-item:before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    content: ' ';
    width: 2px;
}

.meta-item:hover::before {
    background: #3f87a6;
}

.meta-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #666;
}

.meta-date {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.meta-date > img {
    width: 1rem;
    height: 1rem;
}

.meta-date > span {
    font-size: 0.875rem;
    white-space: nowrap;
}

/** 分类相关结束 */
/** 归档页相关开始 */
.archive-box {
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
}

.archive-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    line-height: normal;
}

.archive-item {
    color: #555;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.archive-item:hover {
    background: #f3f3f3;
}

.archive-item:before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    content: ' ';
    width: 2px;
}

.archive-item:hover::before {
    background: #3f87a6;
}

.archive-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #666;
}

.archive-date {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.archive-date > img {
    width: 1rem;
    height: 1rem;
}

.archive-date > span {
    font-size: 0.875rem;
    white-space: nowrap;
}

/** ------------------------------------------- */
/*.archive-list {
    !*border-left: 4px solid #f5f5f5;*!
}

.archive-item {
    line-height: 1.75rem;
}

.archive-date {
    font-size: 1.45rem;
}

.archive-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #ddd;
}

.archive-title {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #666;
}

.archive-meta {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.archive-meta img {
    width: 1rem;
    height: 1rem;
}

.archive-meta span {
    font-size: 1rem;
    white-space: nowrap;
}

.archive-meta a {
    font-size: 1rem;
    white-space: nowrap;
}

.archive-item-date {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.archive-item-category {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}*/

/**归档相关结束*/