<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="author" content="Zaoangod">
    <title>博客 - 安装</title>
    <link rel="shortcut icon" href="/static/admin/favicon.png"/>
    <script src="/static/admin/plugins/vue/vue.min.js"></script>
    <script src="/static/admin/plugins/axios/axios.min.js"></script>

    <link href="/static/admin/plugins/muse-ui/3.0.2/muse-ui.css" rel="stylesheet">
    <script src="/static/admin/plugins/muse-ui/3.0.2/muse-ui.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="/static/admin/js/base.js"></script>
</head>
<body>
<h1>安装页面</h1>
</body>
</html>